body{
	background-color: #1E2326;
	width: 100%;
	color: white;

}

.calculator{
	width: 400px;
	margin: 20px auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 20px 30px 80px 50px rgb(8,9,9,0.4);

}
.display-1{
	padding: 10px 5px 5px 5px;
	width: 100%;
	border: none;
	text-align: right;
	font-size: 25px;
	color: black;
}
.display-1:focus,.display-2:focus{
	outline: none;

}
.display-2{
	text-align: right;
	font-size: 40px;
	padding: 5px 5px 0px 5px;
	width: 100%;
	border: none;

}
.btn-gallery{
	margin-right: -7px !important;
}
.btn-gallery .btn1,.btn2,.btn3,.btnequal{
    background: #1E2326;
    color: white;
    border-radius: 0px;
    border: 0.1px solid white !important;
    margin: 0px;
    width: 25%;
    font-size: 25px;
    padding: 25px;
}
.btn-gallery .btn2{
	margin: 0px -4px !important;
}
.btn-gallery .btn1{
	margin: 0px -2px 0px 0px !important;
}
.btn-gallery .btn3{
	margin: 0px 0px 0px -2px !important;
	background-color: #5E4BB8 !important;
}
.btnequal{
	margin: 0px 0px 0px -2px !important;
	background-color: #FBC40A !important;
	color: black !important;
}